{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<html lang="en">
<head>
    <title>Sign In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Task Manager</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap py-5">
                    <div class="img d-flex align-items-center justify-content-center"
                         style="background-image: url({% static 'images/dbbl.png' %})"></div>
                    <h3 class="text-center mb-0">Login</h3>
                    <div id="login-box" class="col-md-12">
                        {% if messages %}
                            <ul class="messages alert alert-danger">
                                {% for message in messages %}
                                    <li{% if message.tags %}
                                        class="{{ message.tags }}"{% endif %}>
                                        {{ message }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    <form action="{% url 'signin' %}" method="post" id="login-form">
                            <div class="sing-in-text">
                                <p class="mtb-10">
                                    Please enter your username and password
                                </p>
                            </div>
                            {% csrf_token %}
                                <div class="form-group">
            {#		      			<input type="text" class="form-control" placeholder="Username" required>#}
{#                                    {{ form.username | add_class:"form-control" }}#}
                                    {% render_field form.username class="form-control" placeholder=form.username.label %}
                                </div>
                                <div class="form-group">
{#                                    {{  form.username | add_class:"form-control"  }}#}
                                    {% render_field form.password class="form-control" placeholder=form.password.label %}
                                </div>
                            <div id="register-link" class="text-right">

                            </div>
                            <div class="clear-fix"></div>
                            <div class="form-group rememberMeSec">
                                <label for="remember-me" class="keep-login">
                                    <input type="checkbox" name="remember_me" id="remember_me">
                                    <label for="remember_me">
                                        Keep me signed in
                                    </label>
                                </label>

                                <div class="clear"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                            </div>
{#                            <div class="container-fluid">#}
{#                                <div class="col-sm-12 text-center">#}
{#                                    <input type="submit" name="submit" class="btn btn-info"#}
{#                                           value="Sign In"/>#}
{#                                </div>#}
{#                            </div>#}
                            <!-- <button type="submit" class="btn btn-success">Sign In</button> -->
                        </form>
                    <div class="w-100 text-center mt-4 text">
                        <p class="mb-0">Don't have an account?</p>
                        <a href="#" onclick="alert('Will be integrated soon')">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>
</html>

